@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #343541;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.outer {
  width: 100vw;
  height: 100vh;
  background: #343541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat-container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5436DA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 100%;
  overflow-x: scroll;
  white-space: pre-wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message::-webkit-scrollbar {
  display: none;
}

.form {
  width: 100%;
  padding: 10px;
  background: #585858;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 100%;
  max-width: 1160px;
  color: #000;
  font-size: 18px;
  padding: 10px 15px;
  background: #f7f7f7;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: background-color .3s;
}

.input:disabled {
  pointer-events: none;
  background-color: #e0e0e0;
}

.submitBtn {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #f7f7f7;
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color .3s;
}

.submitBtn.disabled {
  pointer-events: none;
  background-color: #e0e0e0;
}

.submitBtn:hover {
  background-color: #dfdfdf;
}

.form img {
  width: 30px;
  height: 30px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: -7px;
}

.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}